name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy + test:
    name: clippy + test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: rust-wasm

    steps:
    - name: Checkout code
    - uses: actions/checkout@v4
    - name: Run cargo clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Run cargo test
      run: cargo test --verbose
